CREATE DATABASE [MCastanedaBrive]

USE DATABASE [MCastanedaBrive]
GO
/****** Object:  StoredProcedure [dbo].[ProductoAdd]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoAdd] 
(

@NombreProducto VARCHAR(50) ,
@Stock INT,
@PrecioUnitario DECIMAL(18,2),
@Imagen VARCHAR (MAX),
@codigo VARCHAR (50))
	
	AS

INSERT INTO Producto(


Producto.NombreProducto,
Producto.Stock,
Producto.PrecioUnitario,
Producto.Imagen,
Producto.codigo
	)
VALUES (

@NombreProducto,
@Stock,
@PrecioUnitario,
@Imagen,
@codigo
	 )


GO
/****** Object:  StoredProcedure [dbo].[ProductoGetAll]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoGetAll]

AS

SELECT 

Producto.IdProducto,
Producto.NombreProducto,
Producto.Stock,
Producto.PrecioUnitario,
Producto.Imagen,
Producto.codigo

FROM Producto

GO
/****** Object:  StoredProcedure [dbo].[ProductosAsignados]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductosAsignados] 
 @IdSucursal INT
	AS
		SELECT
			SucursalProducto.IdSucursalProducto,
		    Sucursal.IdSucursal,
			Producto.IdProducto,
			Producto.NombreProducto,
			Producto.Stock,
			Sucursal.NombreSucursal,
			Producto.Imagen,
			Producto.PrecioUnitario,
			Producto.Codigo
		FROM SucursalProducto
		INNER JOIN Producto
			ON SucursalProducto.IdProducto = Producto.IdProducto
		INNER JOIN Sucursal
			ON SucursalProducto.IdSucursal = Sucursal.IdSucursal
	WHERE SucursalProducto.IdSucursal = @IdSucursal

GO
/****** Object:  StoredProcedure [dbo].[ProductosNoAsignados]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductosNoAsignados] @IdSucursal INT
	AS
	SELECT
		Producto.IdProducto,
			Producto.NombreProducto,
			Producto.Stock,
		    Producto.Imagen,
			Producto.PrecioUnitario,
			Producto.Codigo
	FROM Producto WHERE IdProducto NOT IN(
	SELECT 
		Producto.IdProducto FROM SucursalProducto
			LEFT JOIN Producto
				ON Producto.IdProducto = SucursalProducto.IdProducto
			LEFT JOIN Sucursal
				ON Sucursal.IdSucursal = SucursalProducto.IdSucursal
		WHERE Sucursal.IdSucursal = @IdSucursal)

GO
/****** Object:  StoredProcedure [dbo].[SucursalAdd]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalAdd](
	@NombreSucursal VARCHAR(50),
	@Direccion VARCHAR(50),
	@Telefono VARCHAR(50))
	
	AS

INSERT INTO Sucursal(

	NombreSucursal,
	Direccion,
	Telefono 
	)
VALUES (
	 @NombreSucursal,
	 @Direccion,
	 @Telefono
	 
	 )


GO
/****** Object:  StoredProcedure [dbo].[SucursalDelete]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalDelete]
@IdSucursal INT
AS
Delete From Sucursal

WHERE 

IdSucursal = @IdSucursal

GO
/****** Object:  StoredProcedure [dbo].[SucursalGetAll]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalGetAll]

AS

SELECT  
	IdSucursal,
	NombreSucursal,
	Direccion,
	Telefono

FROM Sucursal

GO
/****** Object:  StoredProcedure [dbo].[SucursalGetById]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalGetById]
@IdSucursal INT
AS

SELECT  
	IdSucursal,
	NombreSucursal,
	Direccion,
	Telefono

FROM Sucursal

WHERE IdSucursal = @IdSucursal
GO
/****** Object:  StoredProcedure [dbo].[SucursalProductoAdd]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalProductoAdd] 
	@IdSucursal INT,
	@IdProducto INT


AS

INSERT INTO SucursalProducto(
	IdSucursal,
	IdProducto
	
)
VALUES
(
@IdSucursal,
@IdProducto


)

GO
/****** Object:  StoredProcedure [dbo].[SucursalProductoDelete]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalProductoDelete]

@IdSucursalProducto INT 

AS

DELETE FROM SucursalProducto

WHERE
	IdSucursalProducto = @IdSucursalProducto

GO
/****** Object:  StoredProcedure [dbo].[SucursalProductoGetAll]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery4.sql|7|0|C:\Users\digis\AppData\Local\Temp\~vs6696.sql
CREATE PROCEDURE [dbo].[SucursalProductoGetAll]
AS

SELECT 
	IdSucursalProducto,
	SucursalProducto.IdSucursal,
	Sucursal.NombreSucursal,
	SucursalProducto.IdProducto,
	Producto.NombreProducto,
	Producto.Imagen,
	producto.Stock,
	Producto.PrecioUnitario
FROM SucursalProducto

INNER JOIN Sucursal
ON SucursalProducto.IdSucursal = Sucursal.IdSucursal

INNER JOIN Producto
ON SucursalProducto.IdProducto = Producto.IdProducto

GO
/****** Object:  StoredProcedure [dbo].[SucursalUpdate]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SucursalUpdate](
@IdSucursal INT,
@NombreSucursal VARCHAR (50),
@Direccion VARCHAR (50),
@Telefono VARCHAR (50)
)
AS

UPDATE Sucursal
SET
	NombreSucursal = @NombreSucursal,
	Direccion = @Direccion,
	Telefono = @Telefono
WHERE	
IdSucursal = @IdSucursal

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 28/06/2022 10:48:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](50) NULL,
	[Stock] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Imagen] [varchar](max) NULL,
	[Codigo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 28/06/2022 10:48:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sucursal](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[NombreSucursal] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SucursalProducto]    Script Date: 28/06/2022 10:48:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucursalProducto](
	[IdSucursalProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[IdProducto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursalProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [NombreProducto], [Stock], [PrecioUnitario], [Imagen], [Codigo]) VALUES (2, N'Ropa', 11, CAST(200.00 AS Decimal(18, 2)), N'a', N'54D54S5')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([IdSucursal], [NombreSucursal], [Direccion], [Telefono]) VALUES (1, N'Logia', N'Reforma 222 CDMX', N'548484996')
INSERT [dbo].[Sucursal] ([IdSucursal], [NombreSucursal], [Direccion], [Telefono]) VALUES (2, N'Liverpool', N'Parque Mexico 153 CDMX', N'455454')
INSERT [dbo].[Sucursal] ([IdSucursal], [NombreSucursal], [Direccion], [Telefono]) VALUES (3, N'Sears', N'Condesa CDMX 140', N'455484')
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
SET IDENTITY_INSERT [dbo].[SucursalProducto] ON 

INSERT [dbo].[SucursalProducto] ([IdSucursalProducto], [IdSucursal], [IdProducto]) VALUES (1, 1, 2)
INSERT [dbo].[SucursalProducto] ([IdSucursalProducto], [IdSucursal], [IdProducto]) VALUES (2, 1, 1)
INSERT [dbo].[SucursalProducto] ([IdSucursalProducto], [IdSucursal], [IdProducto]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[SucursalProducto] OFF
ALTER TABLE [dbo].[SucursalProducto]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[SucursalProducto]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[SucursalProducto]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[SucursalProducto]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
